@charset "UTF-8";
#mb_bar li a {
    color: #666;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/*顶部*/
#head_top{
    border-bottom: 3px solid #e41e1e;
}
/*顶部黑条*/
#home_top{
    width: 100%;
    height: 40px;
    background: #333;
}
.home_top{
    margin: 0 auto;
    width: 1200px;
    line-height: 40px;
}
.hello {
    float: left;
    color: #f4f4f4;
}
.home_sign{
    float: right;
}
.home_sign a{
    margin-left: 10px;
    color: #f4f4f4;
}
.home_sign a:nth-child(2){
    color: #fe2d2d;
}


/*logo 搜索框*/
#home_search{
    margin: 25px auto;
    width: 1200px;
    height: 125px;
}
.logo{
    float: left;
    width: 168px;
    height: 125px;
    background: url("../images/home-page/logo_03.jpg") no-repeat center;
}
.logo-span{
    width: 100%;
    height: 100%;
    background: #333;
    display: block;
    opacity: 0;
}
.home_search{
    float: left;
    width: 560px;
    height: 70px;
    margin: 40px 0 0 200px;
}
.home_TopSearch{
    width: 100%;
    height: 43px;
    border: 1px solid #e20606;
}
.home_TopSearch input{
    width: 483px;
    height: 41px;
    font-size: 16px;
    border: 1px solid #e20606;
    outline: none;
}
.home_TopSearch div{
    float: right;
    width: 75px;
    height: 43px;
    background: url("../images/home-page/Search.png");
}
.home_TopSearch span{
    float: right;
    width: 75px;
    height: 43px;
    background: #333;
    display: block;
    margin-top: -43px;
    opacity: 0;
}
.home_TopSearch_bo a{
    margin: 0 20px 0 5px;
    color: #999;
}
.Shopping_Cart{
    float: left;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 40px 0 0 80px;
    background: #ccc;
    border: 1px solid #666;
}
.Shopping_Cart div{
    float: left;
    padding: 6px 10px;
}
.Shopping_Cart span{
    color: #9f9f9f;
    font-size: 16px;
}
.buyCar_news{
    float: left;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin: -72px 0 0 115px;
    background: url("../images/home-page/buycarnews.png") no-repeat center;
}



/*菜单栏*/
#menu_bar{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    /*border: 1px solid transparent;*/
}
#menu_bar_drop_down{
    float: left;
    width: 240px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #e51e1e;
}
#menu_bar_drop_down span,.menu_bar_bar-1{
    font-size: 18px;
    color: #f4f4f4;
    font-weight: bold;
}
#menu_bar_bar{
    width: 920px;
    height: 50px;
    float: left;
    margin-left: 30px;
}
#mb_bar li{
    list-style: none;
    padding: 20px 20px 8px;
    float: left;
}
#mb_bar li a{
    color: #666;
    font-size: 16px;
}
.mb_bar_li_a_nth-child1{
    color: #e20606;
    font-size: 16px;
}


/*商品分类 - 隐藏部分*/
#mb_drop_down_bar{
    position: absolute;
    z-index: 10;
    width: 238px;
    height: 580px;
    margin: 53px 0 0;
    background: rgba(0,0,0,0.5);
    /*border: 1px solid transparent;*/
    display: none;
}
.classification{
    width: 200px;
    height: 480px;
    margin: 20px auto;
}
.classification a{
    color: #e5e5e2;;
}
.mbdd_ification{
    width: 200px;
    height: 70px;
    margin-top: 25px;
}
.mbdd_ification111{
    float: right;
}
.mbdd_ification ul{
    margin-top: 5px;
    list-style: none;
    font-size: 15px;
}
.mbdd_ification li{
    float: left;
    padding: 0 20px 0 0;
}
/*头结束*/


.bottom_foot{
    margin-top: 50px;
}

/*底部*/
#bottom_foot{
    background: black;
    font-size: 12px;
}
/*二维码部分*/
#bottomFoot1{
    height: 200px;
    border-bottom: 1px solid #535252;
}
ul{
    list-style: none;
}
.footer1{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.footer1 ul{
    margin-top: 20px;
}
.footer1 ul li{
    float: left;
    width: 100px;
    height: 20px;
    color: #fff;
    margin-left: 100px;
}
.footer_01 li:nth-child(1){
    padding: 5px 0;
    font-size: 14px;
}
.footer_01 a{
    color: #fff;
}
.footer1 img{
    margin-left: 100px;
}

/*二维码下面部分*/
#bottomFoot2{
    height: 120px;
}
.footer2{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.footer2_0{
    height: 20px;
    margin: 0 auto;
}
.footer2_0 a{
    color: #999;
}
.footer2_0 li{
    list-style: none;
    float: left;
    padding: 0 10px;
    font-size: 12px;
    border-left: 1px solid #cfcccc;
}
.footer2_0 li:nth-child(1){
    border-left: 1px solid transparent;
}
.footer2_1{
    width: 1100px;
    margin: 10px auto;
}
.footer2_1 a{
    color: #666;
    font-size: 12px;
}
.footer2_2{
    width: 820px;
}
.footer2_3{
    width: 890px;
}
.footer2_4{
    width: 500px;
}
/*尾部结束*/

/*多快好省*/
#more_better{
    width: 1200px;
    height: 50px;
    margin: 0 auto 10px;
    /*border: 1px solid transparent;*/
}
#more_better div{
    width: 246px;
    height: 50px;
    float: left;
    background: url("../images/home-page/moreAndbetter.jpg") no-repeat ;
}
#more_better div:nth-child(1){
    background-position:  0 0;
}
#more_better div:nth-child(2){
    margin: 0 86px;
    background-position:  0 -58px;
}
#more_better div:nth-child(3){
    margin: 0 44px 0 0;
    background-position:  0 -116px;
}
#more_better div:nth-child(4){
    background-position:  0 -174px;
}
/*多快好省*/



/*JS*/
#mb_bar .text-Red{
    color: #ff0036;
}

/*移入移出*/
.footer_01 a:hover{
    color: #ff0036;
}
.footer2_1 a:hover {
    color: #fff;
}
.home_TopSearch_bo span:hover{
    color: #4f77c8;
}
.home_sign a:hover{
    color: #ff0036;
}
body .borderClass{
    border : 1px solid darkred;
}
.classification li:hover{
    color: #b5b5b5;
}
.hot_commodity_menu_bar a:hover{
    color: #e50e0e;
}
.new_commodity_more a:hover{
    color: #e96365;
}
.divTextnow{
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    background: rgba(152,255,255,0.2);
    z-index: 999;
}
.textNow{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    color: #666;
    background: rgba(255,255,255,0.8);
    margin: 50px 0;
    border-radius: 40px;
}
/*选中的时候导航颜色*/
#mb_bar .text-Red{
    color: #ff0036;
}
/*点击的时候导航颜色*/
#mb_bar .actText-Red {
    color: #e20606;
}
body .navDivMark{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 220px;
    top: -20px;
    background: rgba(125,125,125,0.6);
}