#mb_bar li a {
    color: #666;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "微软雅黑";
}
#top{
    height: 264px;
    width: 100%;
}
#main{
    width: 1220px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
.main_top2{
    height: 248px;
    position: relative;
}
.main_top2_left ul{
    list-style: none;
    width: 120px;
    height: 248px;
    background: rgb(221,221,221);
}
.main_top2_left ul li{
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#brand{
    height: 107px;
    text-align: left;
    padding-left: 10px;
}
.main_top2_right{
    position: absolute;
    bottom: -1px;
    left: 120px;
    border: 1px solid #ccc;
    width: 1094px;
}
#brand_img{
    height: 105px;
    border: 1px solid #ccc;
}
#brand_img img{
    display: inline-block;
    width: 116px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.main_top2{
    display: inline-block;
}
.main_top2_right ul li{
    list-style: none;
    height: 34px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}
.design li{
    display: inline-block;
    text-align: center;
    line-height: 34px;
    float: left;
    width: 130px;
    color: #4169E1;
}
.multi,.more{
    display: inline-block;
    width: 70px;
    text-align: center;
    float: right;
    line-height: 34px;
}
.multi{
    background: rgb(231,231,231);
}
#screen li{
    float: left;
    border: 1px solid #ccc;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 6px 10px;
}
#screen li span{
    color: #4169E1;
}
.main_top3{
    position: relative;
    margin-top: 10px;
    height: 50px;
    background: rgb(221,221,221);
}
.main_top30{
    display: inline-block;
}
.main_top3_left{
    line-height: 50px;
}
.main_top3_left li{
    font-size: 14px;
    display: inline-block;
    border: 1px solid #ccc;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 64px;
    padding:0 5px;
    background: white;
    color: #666;
    font-weight: bold;
}
.main_top3_left li:hover{
    background: #D80000;
    color: white;
}
.main_top3_left0{
    position: absolute;
    top: 12px;
}
.main_top3_left1{
    display: inline-block;
    margin-left: 84px;
}
.main_top3_left10{
    display: inline-block;
    background: white;
    color: #ccc;
}
.main_top3_left10 input{
    border: none;
    width: 50px;
    height: 24px;
}
.main_top3_left2{
    display: inline-block;
    margin-left: 90px;
}
.main_top3_left2 input{
    width: 130px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}
.main_top3_left2 button{
    width: 60px;
    height: 24px;
}
.main_top3_left3{
    display: inline-block;
    margin-left: 46px
}
.main_top3_left3 span{
    color: #777;
    font-size: 14px;
}
#Total,#num{
    display: inline-block;
}
#Total{
    color: #333;
}
#num{
    color: red;
}
.main_top3_left3 button{
    width: 40px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.content{
    display: inline-block;
    border: 1px solid #ccc;
    width: 234px;
    height: 334px;
    margin: 10px 4px 0 0;
}
.content div{
    margin: 1px 0 0 1px;
}
.img_box{
    position: relative;
}
.content div img{
    width: 225px;
    height: 220px;
}
.introduce{
    color: #666;
    padding: 0 5px;
    font-size: 12px;
    height: 32px;
    width: 228px;
}
.old_price{
    color: #666;
    font-size: 12px;
}
.price{
    margin-left: 116px;
}
.new_price{
    color: #D80000;
    font-weight: bold;
    font-size: 30px;
}
.add_content{
    color: #666;
    font-size: 12px;
}
.contrast{
    display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 14px;
    background: rgb(201,201,201);
    color: #666;
    text-align: center;
    margin-left: 5px;
}
.com1{
    display: inline-block;
    float: right;
    margin-right: 5px;
}
.com{
    display: inline-block;
}
.new{
    display: inline-block;
    width: 32px;
    height: 20px;
    background: red;
    color: white;
    text-align: center;
    line-height: 20px;
}
.main_main1{
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}
.main_main1 ul li{
    display: inline-block;
    color: #666;

}
.last,.next{
    border: 1px solid #ccc;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.num_1{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    background: #999;
}
.num_1:hover,.num_1:active{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: none;
    color: red;
    background: white;
}
.next:hover,.next:active{
    background: red;
    color: white;
}
.last:hover,.last:active{
    background: red;
    color: white;
}
.ellipsis{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.main_footer{
    margin-top: 130px;
    width: 1220px;
    height: 280px;
    overflow: hidden;
}
.like{
    height: 32px;
    border-bottom: 2px solid red;
}
.like_left1{
    display: inline-block;
    width: 326px;
}
.like_left1 div{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
}
#Recommend{
    color: #777;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}
.like_right{
    display: inline-block;
    float: right;
    width: 70px;
    height: 28px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 28px;
    color: #666;
}
.like_img{
    margin-top: 10px;
    width: 4000px;
    height: 230px;
}
.like_img1{
    float: left;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 0 15px 10px 0;
    width: 230px;
}
.like_write{
    color: #666666;
    margin: 0 6px;
    text-align: center;
    height: 38px;
    width: 220px;
}
.like_price{
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0 0 5px;
}