#mb_bar li a {
    color: #666;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
/*清除所有padding与margin*/
body {
    background: #fff;
}
/* 重置body 页面背景为白色 */
body, th, td, input, select, textarea, button {
    font-size: 12px;
    line-height: 1;
    font-family: "微软雅黑","黑体", "宋体";
    color: #666;
    margin: 0;
    padding: 0;
}
i{
    font-style: normal;
    color: #999;
}
/* 重置页面文字属性 */
input, textarea, select {
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
}
/* 重置页面文字属性 */
dl, ul, ol, menu, li {
    list-style: none
}
/* 重置类表前导符号为onne,menu在HTML5中有效 */
a {
    outline: none;
    color: #666;
    text-decoration: none;
}
/* 重置链接a标签 */
a:active, a:hover {
    text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
a:active {
    star: expression(this.onFocus=this.blur());
}
/*预留头部*/
/*顶部*/
#head_top{
    border-bottom: 3px solid #e41e1e;
}
/*顶部黑条*/
#home_top{
    width: 100%;
    height: 40px;
    background: #333;
}
.home_top{
    margin: 0 auto;
    width: 1200px;
    line-height: 40px;
}
.hello {
    float: left;
    color: #f4f4f4;
}
.home_sign{
    float: right;
}
.home_sign a{
    margin-left: 10px;
    color: #f4f4f4;
}
.home_sign a:nth-child(2){
    color: #fe2d2d;
}
/*logo 搜索框*/
#home_search{
    margin: 25px auto;
    width: 1200px;
    height: 125px;
}
.logo{
    float: left;
    width: 168px;
    height: 125px;
    background: url("../images/home-page/logo_03.jpg") no-repeat center;
}
.logo-span{
    width: 100%;
    height: 100%;
    background: #333;
    display: block;
    opacity: 0;
}
.home_search{
    float: left;
    width: 560px;
    height: 70px;
    margin: 40px 0 0 200px;
}
.home_TopSearch{
    width: 100%;
    height: 43px;
    border: 1px solid #e20606;
}
.home_TopSearch input{
    width: 483px;
    height: 41px;
    font-size: 16px;
    border: 1px solid #e20606;
}
.home_TopSearch div{
    float: right;
    width: 75px;
    height: 43px;
    background: url("../images/home-page/Search.png");
}
.home_TopSearch span{
    float: right;
    width: 75px;
    height: 43px;
    background: #333;
    display: block;
    margin-top: -43px;
    opacity: 0;
}
.home_TopSearch_bo a{
    margin: 0 20px 0 5px;
    color: #999;
}
.Shopping_Cart{
    float: left;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 40px 0 0 80px;
    background: #ccc;
    border: 1px solid #666;
}
.Shopping_Cart div{
    float: left;
    padding: 6px 10px;
}
.Shopping_Cart span{
    color: #9f9f9f;
}
.buyCar_news{
    float: left;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin: -72px 0 0 115px;
    background: url("../images/home-page/buycarnews.png") no-repeat center;
}
/*菜单栏*/
#menu_bar{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid transparent;
}
#menu_bar_drop_down{
    float: left;
    width: 240px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #e51e1e;
}
#menu_bar_drop_down span,.menu_bar_bar-1{
    font-size: 18px;
    color: #f4f4f4;
    font-weight: bold;
}
#menu_bar_bar{
    width: 920px;
    height: 50px;
    float: left;
    margin-left: 30px;
}
#mb_bar li{
    list-style: none;
    padding: 20px 20px 8px;
    float: left;
}
#mb_bar li a{
    color: #666;
}
.mb_bar_li_a_nth-child1{
    color: #e20606;
}
/*商品分类 - 隐藏部分*/
#mb_drop_down_bar{
    position: relative;
    z-index: 10;
    width: 238px;
    height: 580px;
    color: #e5e5e2;
    margin: 53px 0 0;
    background: rgba(0,0,0,0.5);
    border: 1px solid transparent;
    display: none;
}
.classification{
    width: 200px;
    height: 480px;
    margin: 20px auto;
}
.mbdd_ification{
    width: 200px;
    height: 70px;
    margin-top: 25px;
}
.mbdd_ification111{
    float: right;
}
.mbdd_ification ul{
    margin-top: 5px;
    list-style: none;
    font-size: 15px;
}
.mbdd_ification li{
    float: left;
    padding: 0 20px 0 0;
}
/*头结束*/

#shop_Address{
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.text-red{
    color: #ff0036
}
.address_Set{
    width: 207px;
    height: 410px;
    border: 1px solid #dcdcdc;
    float: left;
}
.address_Set ul{
    text-indent: 4em;
    padding: 38px 0;
}
.address_Set li{
    line-height: 28px;
}
.add_Address{
    float: left;
    width: 872px;
    margin-left: 53px;
    margin-top: 37px;
    margin-bottom: 50px;
    border: 1px solid #f4acac;
    background: #fef7f7;
}
.add_AddMain{
    width: 828px;
    height: 190px;
    border: 1px solid #dcd;
    border-radius: 8px;
    background: #fff;
    margin: 22px auto;
}
.add_btn{
    line-height: 30px;
    margin-left: 22px;
    height: 30px;
    margin-bottom: 22px;
}
.add_btn p{
    float: left;
    text-indent: 2em;
    color: #999999;
}
.add_btn button{
    width: 110px;
    height: 31px;
    background: #fde8e8;
    border: #e20606 1px solid ;
    border-radius: 5px;
    float: left;
    color: #333333;
}
.add_AddMain li{
    line-height: 22px;
    color: #666666;
}
.add_AddMain ul:nth-child(1){
    height: 36px;
    text-indent: 1em;

}
.add_AddMain ul:nth-child(1) li{
    float: left;
    line-height: 36px;
}
.add_AddMain ul:nth-child(1) li:nth-child(3){
    background: #ff0036;
    width: 4em;
    text-align: center;
    text-indent:0;
    line-height: 22px;
    height: 22px;
    margin-top: 8px;
    margin-left: 10px;
}
.userAddress{
    width: 460px;
    float: left;
    text-indent: 2em;
}
.add_AddMain ul:nth-child(3){
    float: left;
}
.address_Reset{
    float: right;
    padding-right: 10px;
    padding-top: 115px;
}
.address_Reset li{
    float: left;
    padding-right: 20px;
}
.address_Reset li a{
    color: #4991dd;
}


/*底部*/
#bottom_foot{
    background: black;
    font-size: 12px;
    width: 100%;
    margin-top: 20px;
    float: left;
}
/*二维码部分*/
#bottomFoot1{
    height: 200px;
    border-bottom: 1px solid #535252;
}
ul{
    list-style: none;
}
.footer1{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.footer1 ul{
    margin-top: 20px;
}
.footer1 ul li{
    float: left;
    width: 100px;
    height: 20px;
    color: #fff;
    margin-left: 100px;
}
.footer_01 li:nth-child(1){
    padding: 5px 0;
    font-size: 14px;
}
.footer_01 a{
    color: #fff;
}
.footer1 img{
    margin-left: 100px;
}

/*二维码下面部分*/
#bottomFoot2{
    height: 120px;
}
.footer2{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.footer2_0{
    height: 20px;
    margin: 0 auto;
}
.footer2_0 a{
    color: #999;
}
.footer2_0 li{
    list-style: none;
    float: left;
    padding: 0 10px;
    border-left: 1px solid #cfcccc;
}
.footer2_0 li:nth-child(1){
    border-left: 1px solid transparent;
}
.footer2_1{
    width: 1100px;
    margin: 10px auto;
}
.footer2_1 a{
    color: #666;
}
.footer2_2{
    width: 820px;
}
.footer2_3{
    width: 890px;
}
.footer2_4{
    width: 500px;
}
/*尾部结束*/

/*多快好省*/
#more_better{
    width: 1200px;
    height: 50px;
    margin: 100px auto 10px;
    border: 1px solid transparent;
}
#more_better div{
    width: 246px;
    height: 50px;
    float: left;
    background: url("../images/home-page/moreAndbetter.jpg") no-repeat ;
}
#more_better div:nth-child(1){
    background-position:  0 0;
}
#more_better div:nth-child(2){
    margin: 0 86px;
    background-position:  0 -58px;
}
#more_better div:nth-child(3){
    margin: 0 44px 0 0;
    background-position:  0 -116px;
}
#more_better div:nth-child(4){
    background-position:  0 -174px;
}
/*多快好省*/

/*JS需要的classname*/

.footer_01 a:hover{
    color: #ff0036;
}
.footer2_1 a:hover {
    color: #fff;
}
.home_TopSearch_bo span:hover{
    color: #4f77c8;
}
.home_sign a:hover{
    color: #ff0036;
}
body .borderClass{
    border : 1px solid darkred;
}
.classification li:hover{
    color: #b5b5b5;
}
.hot_commodity_menu_bar a:hover{
    color: #e50e0e;
}
.new_commodity_more a:hover{
    color: #e96365;
}



.divTextnow{
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    background: rgba(152,255,255,0.2);
    z-index: 999;
}
.textNow{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    color: #666;
    background: rgba(255,255,255,0.8);
    margin: 50px 0;
    border-radius: 40px;
}
/*选中的时候导航颜色*/
#mb_bar .text-Red{
    color: #ff0036;
}
/*点击的时候导航颜色*/
#mb_bar .actText-Red {
    color: #e20606;
}
body .navDivMark{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 220px;
    top: -20px;
    background: rgba(125,125,125,0.6);
}







.addAddTotal{
    width: 340px;
    display: none;
    height: 440px;
    left: 800px;
    top: 200px;
    background: #fef7f7;
    border: 2px dotted #ff0036;
    position: fixed;
    border-radius: 20px;
    padding: 20px;
}
.addAddTotal form{
    background: #fef7f7;
    width: 300px;
    height: 400px;
    margin: 20px;
}
.addAddTotal input{
    background: lightblue;
    width: 200px;
    border-radius: 10px;
    height: 30px;
    border: 0;
    text-indent: 1em;
}
.addAddTotal label{
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 40px;
    text-align: center;
}
.addAddTotal ul{
    margin: 0 auto;
}
.addAddTotal ul li{
    height: 40px;
    padding: 10px 0;
}
.addAddTotal ul li>div{
    float: left;
}
.addAddTotal ul li>div:nth-child(2){
    float: right;
}
body .showRightIcon{
    background:url("../images/图片精灵/right.png")no-repeat 150px 5px;

}
.text-blue{
    color: #4991dd;
}

.addAddTotal .add_AddBtn{
    background: #fde8e8;
    border:1px solid  saddlebrown;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #333;
    font-size: 16px;
    margin: 20px 100px 0;
    text-indent: 0;
}
.closeIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    right: -15px;
    top: -15px;
    background-image:  url("../images/图片精灵/close.png");
    background-size: 40px;
}